WORKTREE_DIR_PATH=""

ANDROID_REPO_PATH=""
IOS_REPO_PATH=""
APPIUM_REPO_PATH=""

ANDROID_GITIGNORED_FILES=(
    # paths from ANDROID_REPO_PATH
)
IOS_GITIGNORED_FILES=(
    # paths from IOS_REPO_PATH
)
APPIUM_GITIGNORED_FILES=(
    # paths from APPIUM_REPO_PATH
)
